---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
这里是一些有意思的问题。所有问题都可以使用编程软件，但是暴力计算的时长你可能无法忍受。

题目后面标注为 open 的问题是本人没有解决的问题，这些问题在小红书中进行有奖征解答活动，欢迎大家参与。小红书号：600167839

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
